<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>游客-讲解员列表</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/css/evaluation.css"/>
		<style type="text/css">
			[v-cloak] {
			     display: none;
			 }
		</style>
	</head>

	<body>
		<div id="app">
		<div class="header-title">
			<i class="bakck" @click="back"></i>
			评价列表
		</div>
		<div class="header-header"></div>
		<ul class="narrator-list">
			<li v-for="(item,index) in datalist" :key="item.id">
				<div v-if='index==0'>
					<h2 class="title">全部评论（{{index}}）
						<div class="date-infos" @click="dateSelect">{{timeValue}}</div>
					</h2>
					<div class="tab-list">
						<span  @click="tab('0')" v-bind:class="{'active':tabindex=='0'}">全部 {{count.fine}}</span>
						<span @click="tab('1')" v-bind:class="{'active':tabindex=='1'}">不满意 {{count.fine}}</span>
						<span @click="tab('2')" v-bind:class="{'active':tabindex=='2'}">一般 {{count.satisfy}}</span>
						<span @click="tab('3')" v-bind:class="{'active':tabindex=='3'}">满意 {{count.kind}}</span>
						<span @click="tab('4')" v-bind:class="{'active':tabindex=='4'}">非常满意 {{count.poor}}</span>
					</div>
					<div class="button" style="top:2.666rem;">{{item.visit_estimate|stateText}}</div>
				</div>
				<div v-else class="button">{{item.visit_estimate|stateText}}</div>
				
				<div class="info">
					<img :src="item.headerimg" >
					<div class="info-name">
						<p>{{item.visit_name}}</p>
						<span>{{item.create_at}}</span>
					</div>
				</div>
				<p class="text">
					{{item.mark}}
				</p>
			</li>
		</ul>
		
		
			<template>
				<van-popup v-model="show" position="bottom">
					<div class="date">
						<van-datetime-picker v-model="currentDate" @cancel="dateCancel" @confirm="dateConfirm" type="datetime"/>
					</div>
				</van-popup>
			</template>
		
		</div>
		
		
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css"/>
		<script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script>
		<script src="__ROOT__/static/scenic/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script>
			new Vue({
				el: '#app',
				data(){
					return{
						show:false,
						timeValue:"",
						currentDate: new Date(),
						count:{
							fine:'111', //非常满意总数
							satisfy:'1222',//满意
							kind:'10',//一般
							poor:'11' //差
						},//统计
						tabindex:0,//切换时需要的状态
						datalist:[] //列表数据
					}
				},
				filters:{
					stateText(state){
						//console.log(state)
						// '1' => '不满意',
						// '2' => '一般',
						// '3' => '满意',
						// '4' => '非常满意',
						let text='';
						switch(state) {
						     case 1:
						       text='不满意';
						       break;
						     case 2:
						       text='一般';
						        break;
							case 3:
							   text='满意';
							   break;
							case 4:
							   text='非常满意';
							   break;
						} 
						return text;
					}
					
				},
				created(){
					//
					//页面加载获取数据渲染数据
					this.setDate();
				},
				methods:{
					setDate(){
						 let date= new Date(); 
						 this.resetDate(date);
						 this.getData('0');
					},
					resetDate(val){
					  let year = val.getFullYear()
					  let month = val.getMonth() + 1
					  let day = val.getDate()
					  let hour = val.getHours()
					  let minute = val.getMinutes()
					  if (month >= 1 && month <= 9) { month = `0${month}` }
					  if (day >= 1 && day <= 9) { day = `0${day}` }
					  if (hour >= 0 && hour <= 9) { hour = `0${hour}` }
					  if (minute >= 0 && minute <= 9) { minute = `0${minute}` }
					  this.timeValue = `${year}-${month}-${day} ${hour}:${minute}`
					},
					//选择后的时间
					dateConfirm(val){
						this.resetDate(val);
						this.getData(this.tabindex);
						this.dateCancel();
					},
					//选择时间
					dateSelect(){
						 this.show=true;
					},
					//关闭
					dateCancel(){
						this.show=false;
					},
					back(){
						window.history.go(-1);
					},
					//切换tab
					tab(index){
						this.tabindex=index;
						this.getData(index);
					},
					//获取数据
					getData(tabindex){ //tabindex挡墙状态
						//获取数据
						let url='{:url("api.guide/estimate")}'
						const toast = vant.Toast.loading({
						  duration: 0, // 持续展示 toast
						  forbidClick: true,
						  message: '加载中...',
						});
						$.ajax({
						  type: 'get',
						  url: url,
						  data:{estimate:tabindex,create_at:this.timeValue,username:'{$username}'},
						  success: (res)=>{
							//返回数据
							//console.log(res);
							if(res.code=='1'){
								this.datalist=res.data;
								//获取总数
								this.count={
									fine:'111', //非常满意总数
									satisfy:'1222',//满意
									kind:'10',//一般
									poor:'11' //差
								}
							}
							//模拟数据格式
							toast.clear();
						  },error:(e)=>{
							 vant.Toast('网络发生错误');
						  }
						});
					}
				}
			})	
		</script>
		
	</body>
</html>
