<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>讲解员详情</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/css/details.css"/>
	</head>
	<body style="background:#f1f1f1;">
		<div class="header">
			<div class="bakc">
                <i class="bakck"></i>
				<img onclick="bakc()" src="__ROOT__/static/scenic/img/tdetails/back1.png" >
			</div>
			<div class="header-img">
				<img src="{$headimg}" >
			</div>
			<p class="name">{$nickname}</p>
		</div>
		
		<div class="narrator-info" style="margin-bottom:0.4rem;">
			<div class="input-box">
				<span class="title">说明</span>
				<strong class="info">{$describe}</strong>
			</div>
			<div class="input-box">
				<span class="title">评价</span>
				<strong class="info">优秀讲解员</strong>
			</div>
			<div class="input-box">
				<span class="title">上班时间</span>
				<strong class="info">09:00 - 17:00</strong>
			</div>
			<div class="input-box" style="border-bottom: none; text-align: center;">
				<img class="code" src="__ROOT__/static/scenic/img/code.png" >
				<p class="code-msg">扫码获取评价详情</p>
			</div>
		</div>
        <div class="narrator-info" style="margin-bottom:0.4rem;">
            <div class="button" onclick="out()">
                退出
            </div>
        </div>
	</body>
</html>

<script src="__ROOT__/static/plugs/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css"/>
<script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script>



<script type="text/javascript" charset="utf-8">
	
	
	
	function bakc(){
		window.history.go(-1); 
	}
	
    function out(){
        $.ajax({
            type: 'POST',
            url: '{:url("applogin/out")}',
            data:{username: '{$username}'},
            success: (res)=>{
            //返回数据

        if(res.code=='1'){
            vant.Toast('退出成功');
            window.location.href = res.data;
            //location.reload(res.data);
        }else{
            vant.Toast(res.info);
        }
        },error:(e)=>{
        vant.Toast('网络发生错误！');
        }
        });
    }

</script>