<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/css/index.css"/>
    <style type="text/css">
    	[v-cloak] {
    	     display: none;
    	 }
		 .date{ width: 10rem;}
		 .evaluation-fz{
			 height: auto;
		 }
		 .ve-ring-box{
			 width: 100%;
			 /* height:5.333rem; */
			 padding-top:0.5rem;
			 /* padding-bottom: 4rem; */
			 /* background: red; */
		 }
    </style>
</head>
<body>
	<div class="header" id="app" v-cloak>
		
		<img class="header-img" src="{$user.headimg}" @click="link('detailscode')">
		<div class="info">
			<h2 class="name" @click="link('detailscode')">{$nickname}</h2>
			<p>{$user.describe}</p>
		</div>
		<div class="statistics">
			<div>
				<div class="t1" id="yes">0</div>
				<div class="t2">预约完成</div>
			</div>
			<div>
				<div class="t1" id="run">0</div>
				<div class="t2">预约未完成</div>
			</div>
			<div>
				<div class="t1" id="out">0</div>
				<div class="t2">预约过期</div>
			</div>
			<div>
				<div class="t1" id="cos">0</div>
				<div class="t2">预约取消</div>
			</div>
		</div>
		
		<div class="tab-list">
			<div class="tab" @click="link('reminder')">
				<img src="__ROOT__/static/scenic/img/yy.png">
				<div class="text">预约提醒</div>
			</div>
			<div class="tab" @click="link('details')">
				<img src="__ROOT__/static/scenic/img/jg.png">
				<div class="text">评价结果</div>
			</div>
		</div>
	
		<div class="evaluation-fz">
			<div class="content">
				<h3>评价分值
					<div class="date-box" @click="dateSelect">{{timeValue}}</div>
				</h3>
				<div class="ve-ring-box">
					<template>
						<ve-ring :data="chartData" :settings="chartSettings" :colors="color"></ve-ring>
					</template> 
				</div>
			</div>
		</div>
		
		<template>
			<van-popup v-model="show" position="bottom">
				<div class="date">
					<van-datetime-picker v-model="currentDate" @cancel="dateCancel" @confirm="dateConfirm" type="datetime"/>
				</div>
			</van-popup>
		</template>
	</div>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css"/>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script>
	<script src="__ROOT__/static/plugs/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
		new Vue({
		  el: '#app',
		  data() {
			 return{
				//时间弹窗 
				currentDate: new Date(),
				show:false,
				//end时间弹窗
				timeValue:'',
				datalist:{},
				color:['#28C3F0','#8CAAFF','#249EFB','#33F392'],
				chartSettings:{
					radius: [50, 100],
					offsetY: 155,
				},
				 chartData: {
				   columns: ['满意度', '人数'],
				   rows: [
				     { '满意度': '满意', '人数': 0},
				     { '满意度': '不满意', '人数': 0 },
					 { '满意度': '一般', '人数': 0 },
				     { '满意度': '非常满意', '人数': 0 }
				   ]
				 }
			 }
		  },
		  created(){
			//获取默认时间默认数据
			this.setDate(); 
		  },
		  methods:{
			  setDate(){
				 let date= new Date(); 
				 this.resetDate(date);
				 this.getData();
                  this.getOrderData();
			  },
			  dateSelect(){
				  this.show=true;
			  },
			  //选择时间
			  dateConfirm(val){
				this.resetDate(val);
				this.dateCancel();
				this.getData();       //获取当前讲解员 评价统计
                this.getOrderData();  //获取当前讲解员 预约统计
			  },
			  resetDate(val){
				  let year = val.getFullYear()
				  let month = val.getMonth() + 1
				  let day = val.getDate()
				  let hour = val.getHours()
				  let minute = val.getMinutes()
				  if (month >= 1 && month <= 9) { month = `0${month}` }
				  if (day >= 1 && day <= 9) { day = `0${day}` }
				  if (hour >= 0 && hour <= 9) { hour = `0${hour}` }
				  if (minute >= 0 && minute <= 9) { minute = `0${minute}` }
				  this.timeValue = `${year}-${month}-${day} ${hour}:${minute}`
			  },
			  dateCancel(){
				  this.show=false;
			  },
			  link(type){
				if(type=='reminder'){
					window.location.href='{:url("reminder")}';   
				}else if(type=='detailscode'){
					window.location.href='{:url("detailscode")}';   
				}else if(type=='details'){
					window.location.href='{:url("details")}';   
				}
			  },
			  getData(){
				  let url='{:url("api.guide/alysEstimate")}';
				  let data={
					  username:'{$username}',
					  alystime:this.timeValue
				  }
				  const toast = vant.Toast.loading({
				    duration: 0, // 持续展示 toast
				    forbidClick: true,
				    message: '加载中...',
				  });
				  $.ajax({
				    type: 'get',
				    url: url,
				    data:data,
				    success: (res)=>{
				  	//vant.Toast('提示');
				  	if(res.code=='1'){
				  		this.datalist=res.data;			
				  	    this.chartData.rows=[
				  			{ '满意度': '满意', '人数': res.data.oka},
				  			{ '满意度': '不满意', '人数': res.data.unk },
				  			{ '满意度': '一般', '人数': res.data.nol },
				  			{ '满意度': '非常满意', '人数': res.data.okb}
				  		];
				  	}
				  	//console.log(res)
				  	 toast.clear();
				    },error:(e)=>{
				  	vant.Toast('服务器发生错误');
				    }
				  });
			  }, //getData()


        getOrderData(){
            let url='{:url("api.guide/alysOrder")}';
            let data={
                username:'{$username}',
                alystime:this.timeValue
            }
            const toast = vant.Toast.loading({
                duration: 0, // 持续展示 toast
                forbidClick: true,
                message: '加载中...',
            });
            $.ajax({
                type: 'get',
                url: url,
                data:data,
                success: (res)=>{
                //vant.Toast('提示');
                if(res.code=='1'){
                this.datalist=res.data;
                $("#run").html(res.data.run);
                $("#yes").html(res.data.yes);
                $("#out").html(res.data.out);
                $("#cos").html(res.data.cos);

            }
            //console.log(res)
            toast.clear();
            },error:(e)=>{
              vant.Toast('服务器发生错误');
            }
            });
        }  //getOrderData()

		  }
		})
	</script>
</body>
</html>
