<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/css/index.css"/>
</head>
<body>
<div class="header">
    <img class="header-img" src="__ROOT__/static/scenic/img/1540291002.jpg" >
    <div class="info">
        <h2 class="name">刘子涵</h2>
        <p>啦啦啦啦，今天也是充满希望的一天！</p>
    </div>
    <div class="statistics">
        <div>
            <div class="t1">1004</div>
            <div class="t2">预约完成</div>
        </div>
        <div>
            <div class="t1">1004</div>
            <div class="t2">预约未完成</div>
        </div>
        <div>
            <div class="t1">1004</div>
            <div class="t2">满意</div>
        </div>
        <div>
            <div class="t1">1004</div>
            <div class="t2">不满意</div>
        </div>
    </div>

    <div class="tab-list">
        <a data-action='{:url("reminder")}'>
        <div class="tab">
            <img src="__ROOT__/static/scenic/img/yy.png">
            <div class="text">预约提醒</div>
        </div>
        </a>
        <div class="tab">
            <img src="__ROOT__/static/scenic/img/jg.png">
            <div class="text">评价结果</div>
        </div>
    </div>

    <div class="evaluation-fz">
        <h3>评价分值
            <div class="date">2020-04-05</div>
        </h3>
    </div>

</div>

</body>
</html>
