<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta content=yes name=apple-mobile-web-app-capable><meta content=yes name=apple-touch-fullscreen>
    <meta name=format-detection content="telephone=no,email=no,date=no,address=no">
    <title>首页</title>
    <script src="__ROOT__/scenic/js/flexible.js"></script>
    <script src=https://res.wx.qq.com/open/js/jweixin-1.4.0.js type=text/javascript charset=utf-8></script>
    <link href="__ROOT__/scenic/css/app.8f7938c897ab521fc84b4333f4e62a34.css" />
</head>
<body>
<div id=app>

</div>
<script type="text/javascript" src="__ROOT__/scenic/js/manifest.3ad1d5771e9b13dbdad2.js"></script>
<script type="text/javascript" src="__ROOT__/scenic/js/vendor.f83b551c5489d803092a.js"></script>
<script type="text/javascript" src="__ROOT__/scenic/js/app.055b4d04e7c85b57ba9e.js"></script>

</body>
</html>