<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>预约提醒</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/css/reminder.css"/>
		<style type="text/css">
			[v-cloak] {
			     display: none;
			 }
		</style>
	</head>
	<body style="background:#f1f1f1;">
		<div id="app" v-cloak>
			<div class="header-title">
				<i class="bakck" @click="back"></i>
                预约详情
			</div>
			<ul class="tab-list">
				<li  @click="tab('0')" v-bind:class="{'active':tabindex=='0'}">全部预约</li>
				<li @click="tab('2')" v-bind:class="{'active':tabindex=='2'}">已预约</li>
				<li @click="tab('3')" v-bind:class="{'active':tabindex=='3'}">已完成</li>
				<li @click="tab('4')" v-bind:class="{'active':tabindex=='4'}">已过期</li>
			</ul>
			
			<div class="list">
				<ul>
					<li v-for="item in datalist" :key="item.id">
						<div class="narrator-info" style="margin-bottom:0.4rem;">
							<div class="input-box">
								<span class="title">预约人</span>
								<strong class="info">{{item.visit_name}}</strong>
							</div>
                            <div class="input-box">
                                <span class="title">联系电话</span>
                                <strong class="info">{{item.visit_phone}}</strong>
                            </div>
							<div class="input-box">
								<span class="title">到访人数</span>
								<strong class="info">{{item.visit_num}}人</strong>
							</div>
							<div class="input-box">
								<span class="title">到访时间</span>
								<strong class="info">{{item.visit_t}}</strong>
							</div>
							<div class="input-box input-boxs" v-bind:class="{'input-box-active':item.order_stat=='3'||item.order_stat=='4'||item.order_stat=='2'}" style="border-bottom: none;">
								<span class="title">{{item.mark}}</span>
								<strong class="info">
									<div class="b1 actuve1" v-if="item.order_stat=='3'">已完成</div>
									<div class="b1" v-else-if="item.order_stat=='4'">已过期</div>
                                    <div class="b1 actuve2" v-else-if="item.order_stat=='2'"  v-on:click="updateOrderStat(item.id, item.visit_id, 3)">已预约</div>
                                    <div class="b1" v-else-if="item.order_stat=='5'">已取消</div>
									<div class="b1" v-else v-on:click="updateOrderStat(item.id, item.visit_id, 2)">确认服务</div>
								</strong>
							</div>
						</div> 
					</li>
				</ul>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css"/>
		<script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script>
		
		<script src="__ROOT__/static/scenic/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
				new Vue({
					el: '#app',
					data(){
						return{
							tabindex:0,//切换时需要的状态
							datalist:[]//列表数据
						}
					},
					created(){
						//页面加载获取数据渲染数据
						this.getData('0');
					},
					methods:{
						back(){
							window.history.go(-1);
						},
						//切换tab
						tab(index){
							this.tabindex=index;
							this.getData(index);
						},
						//获取数据
						getData(tabindex){ //tabindex挡墙状态
							//获取数据
							
							let url='{:url("api.guide/order")}';
							const toast = vant.Toast.loading({
							  duration: 0, // 持续展示 toast
							  forbidClick: true,
							  message: '加载中...',
							});
							$.ajax({
							  type: 'get',
							  url: url,
							  data:{stat:tabindex,username:'{$username}'},
							  success: (res)=>{
								//返回数据
								console.log(res)
								if(res.code=='1'){
									this.datalist=res.data;
								}
								toast.clear();
							  },error:(e)=>{
								vant.Toast('网络发生错误');
							  }
							});
						},  //getData
                
                //修改预约状态
                updateOrderStat(id, visit_id, order_stat){
                    $.ajax({
                        type: 'POST',
                        url: '{:url("api.guide/orderUpdateStat")}',
                        data:{id: id, visitid: visit_id, orderstat: order_stat},
                        success: (res)=>{
                        //返回数据

                        if(res.code=='1'){
                        vant.Toast('更新成功');
                        location.reload();
                    }else{
                        vant.Toast(res.info);
                    }
                },error:(e)=>{
                    vant.Toast('网络发生错误！');
                }
                });
                } //updateOrderStat



					}
				})



		</script>
		
	</body>
</html>
