<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>游客-预约详情</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/css/reminder.css"/>
	</head>
	<body style="background:#f1f1f1;">
		<div class="header-title">
			<i class="bakck"></i>
			评价详情
		</div>
		<ul class="tab-list">
			<li class="active">全部预约</li>
			<li>已预约</li>
			<li>已完成</li>
			<li>已过期</li>
		</ul>
		
		<div class="list">
			<ul>
				<li>
					<div class="narrator-info" style="margin-bottom:0.4rem;">
						<div class="input-box">
							<span class="title">预约人</span>
							<strong class="info">张绍林</strong>
						</div>
						<div class="input-box">
							<span class="title">到访人数</span>
							<strong class="info">20人</strong>
						</div>
						<div class="input-box">
							<span class="title">到访时间</span>
							<strong class="info">2020/10/01-10:00-12:00</strong>
						</div>
						<div class="input-box input-boxs" style="border-bottom: none;">
							<span class="title">距服务开始还有1天15小时23分</span>
							<strong class="info">
								<div class="b1">确认服务</div>
							</strong>
						</div>
					</div> 
				</li>
				<li>
					<div class="narrator-info" style="margin-bottom:0.4rem;">
						<div class="input-box">
							<span class="title">预约人</span>
							<strong class="info">张绍林</strong>
						</div>
						<div class="input-box">
							<span class="title">到访人数</span>
							<strong class="info">20人</strong>
						</div>
						<div class="input-box">
							<span class="title">到访时间</span>
							<strong class="info">2020/10/01-10:00-12:00</strong>
						</div>
						<div class="input-box input-boxs input-box-active" style="border-bottom: none;">
							<span class="title">预约已过期</span>
							<strong class="info">
								<div class="b1">已过期</div>
							</strong>
						</div>
					</div> 
				</li>
				<li>
					<div class="narrator-info" style="margin-bottom:0.4rem;">
						<div class="input-box">
							<span class="title">预约人</span>
							<strong class="info">张绍林</strong>
						</div>
						<div class="input-box">
							<span class="title">到访人数</span>
							<strong class="info">20人</strong>
						</div>
						<div class="input-box">
							<span class="title">到访时间</span>
							<strong class="info">2020/10/01-10:00-12:00</strong>
						</div>
						<div class="input-box input-boxs input-box-active" style="border-bottom: none;">
							<span class="title">预约已完成</span>
							<strong class="info">
								<div class="b1">已完成</div>
							</strong>
						</div>
					</div> 
				</li>
				
			</ul>
		</div>
		
		
	</body>
</html>
