<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>游客-预约详情</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/css/details.css"/>
	</head>
	<body style="background:#f1f1f1;">
		<div class="header">
			<div class="bakc">
				<img src="__ROOT__/static/scenic/img/tdetails/back1.png" >
			</div>
			<div class="header-img">
				<img src="__ROOT__/static/scenic/img/login/bg.png" >
			</div>
			<p class="name">刘子涵</p>
		</div>
		
		<div class="narrator-info" style="margin-bottom:0.4rem;">
			<div class="input-box">
				<span class="title">评价</span>
				<strong class="info">优秀讲解员</strong>
			</div>
			<div class="input-box">
				<span class="title">评分</span>
				<strong class="info">优秀讲解员</strong>
			</div>
			<div class="input-box">
				<span class="title">上班时间</span>
				<strong class="info">优秀讲解员</strong>
			</div>
			<div class="input-box" style="border-bottom: none;">
				<span class="title">简介</span>
				<strong class="info">优秀讲解员</strong>
			</div>
		</div> 
		
		
		<div class="narrator-info">
			<div class="input-box">
				<span class="title title-tab">选择评价结果</span>
				<div class="tag-list">
					<i class="active">非常满意</i>
					<i>满意</i>
					<i>一般</i>
					<i>不满意</i>
				</div>
			</div>
			<div class="input-box" style="border: none;">
				<span class="title title-tab" style="margin-bottom: 0.226rem;">评语</span>
				<textarea class="comments" placeholder="请输入评价内容"></textarea>
			</div>
			<div class="btn-box">
				<div class="btn">提交评价</div>
			</div>
		</div> 
	</body>
</html>
