<script src="__ROOT__/static/scenic/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>游客-讲解员列表</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/scenic/js/css/narrator.css"/>
	</head>
	<body>
		<div class="banner">
			<img src="__ROOT__/static/scenic/js/img/list/banner@2x.png" >
		</div>
		<ul class="narrator-list">
			<li>
				<div class="button">立即预约</div>
				<div class="info">
					<img src="__ROOT__/static/scenic/js/img/1540291002.jpg" >
					<div class="info-name">
						<p>凌伟祥</p>
						<span>优秀讲解员</span>
					</div>
				</div>
				<p class="dec">服务人数<span class="t1">2000</span> 满意度<span class="t2"> 97.89%</span></p>
				<p class="text">
					大家好!欢迎光临我们的瓮安会议会址，乃至旅游届最富有才华 英明神武 智慧于美貌并重，英雄与侠义化身 人见人爱 
				</p>
			</li>
			<li>
				<div class="button">立即预约</div>
				<div class="info">
					<img src="__ROOT__/static/scenic/js/img/1540291002.jpg" >
					<div class="info-name">
						<p>凌伟祥</p>
						<span>优秀讲解员</span>
					</div>
				</div>
				<p class="dec">服务人数<span class="t1">2000</span> 满意度<span class="t2"> 97.89%</span></p>
				<p class="text">
					大家好!欢迎光临我们的瓮安会议会址，乃至旅游届最富有才华 英明神武 智慧于美貌并重，英雄与侠义化身 人见人爱 
				</p>
			</li>
			<li>
				<div class="button">立即预约</div>
				<div class="info">
					<img src="__ROOT__/static/scenic/js/img/1540291002.jpg" >
					<div class="info-name">
						<p>凌伟祥</p>
						<span>优秀讲解员</span>
					</div>
				</div>
				<p class="dec">服务人数<span class="t1">2000</span> 满意度<span class="t2"> 97.89%</span></p>
				<p class="text">
					大家好!欢迎光临我们的瓮安会议会址，乃至旅游届最富有才华 英明神武 智慧于美貌并重，英雄与侠义化身 人见人爱 
				</p>
			</li>
		</ul>
	</body>
</html>
