{extend name='main'}

{block name="button"}

{if auth("state")}
<a data-confirm="确定要确认该预约吗？" data-action="{:url('state')}" data-rule="id#{key};status#2" data-csrf="{:systoken('state')}" class='layui-btn layui-btn-sm layui-btn-primary'>批量确认</a>
{/if}

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    {include file='order/index_tab'}
    <div class="layui-tab-content think-box-shadow">
        {include file='order/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th class='list-table-sort-td'>
                    <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
                </th>
                <th class='text-left nowrap' width="25%">预约信息</th>
                <th class='text-left nowrap' width="25%">讲解员</th>
                <th class='text-left nowrap'>预约状态</th>
                <th></th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr data-dbclick>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>
                <td class='list-table-sort-td'>
                    <label><input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></label>
                </td>
                <td class='text-left nowrap'>
                    <img alt="img" width="40px" height="40px" class="text-top margin-right-10" data-tips-image src="{$vo.headimg|default=''}">
                    <div class="inline-block sub-span-blue">
                        游客ID <span><b>{$vo.visit_id|default=''}</b></span> 游客姓名 <span><b>{$vo.visit_name|default='-'|raw}</b></span><br>
                        联系手机 <span>{$vo.visit_phone|default='<i class="color-desc">未配置</i>'|raw}</span>，
                        到访人数 <span>{$vo.visit_num|default='<i class="color-desc">未配置</i>'|raw}</span>，
                        到访时间 <span>{$vo.visit_t|default='<i class="color-desc">未配置</i>'|raw}</span>，
                    </div>
                </td>
                <td class='text-left nowrap sub-span-blue'>
                    {eq name='vo.guide_id' value=''}<b class="color-red">未知</b>{else}<b class="color-green">{$vo.guide_id}</b>{/eq}
                </td>
                <td class='text-left nowrap sub-span-blue'>
                    {eq name='vo.order_stat' value='1'}<b class="color-red">未确认</b>{else}<b class="color-green">使用中</b>{/eq}
                </td>
                <td class='text-left nowrap'>

                    {if auth("edit")}
                    <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑资料" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                    {/if}

                    {if auth("state") and $vo.order_stat eq 1}
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-confirm="确定要禁用该禁用账号吗?" data-action="{:url('state')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('state')}">禁 用</a>
                    {/if}

                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>

        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
